<div class="card-content activator white-text">
    <span class="card-title">{{game.hostName}}'s game</span>
    <span>players: {{game.players}}/4</span>
</div>
<div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{game.hostName}}'s game <i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
<div class="card-action right-align">
    <a href="#">Join game</a>
</div>
